@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicación Gestión de Asignaturas</h1>
    </div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Imagenes/EMSIndex.gif" alt="Imagen Aplicacion Gestion de Asignaturas" />
    </div>
</div>