@{
    ViewBag.Title = "Pagina Inicio";
}

<div class="jumbotron">
  
        <p class="text-center"><h1>Aplicación para Gestión Educación</h1></p>
        <p class="text-center"<h1>ETSISI UPM(Grupo 10 Tarde).</h1></p>

</div>

<div class="row">
    <div class="center-block">        
           <img src="~/imagenes/AppGestionEMSIndex.gif" style="margin:0 auto"; class="img-responsive" alt="Imagen de portada" />   

    </div>
</div>